/* Footer.css */

.footer-grid {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 10px; 
  }
  
  .footer-column {
    width: 30%; 
  }
  
  
  .footer-column ul {
    list-style-type: none; 
    padding-left: 0; 
  }
 
  .footer-column ul a {
    text-decoration: none;
    color: secondary; 
  }

  .footer-column .chat-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-icon {
    width: 90px;
    height: 90px;
  }
  