:root {
  --button-green: #93c732;
  --primary-color: #3b82f6;
  --secondary-color: #1e40af;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  padding: 20px;
}

.scheduler {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  overflow: hidden;
}

.day {
  flex: 1;
  min-width: 60px; 
  border: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box; 
}

@media (max-width: 600px) {
  .day {
    font-size: 0.7rem;
    padding: 0.5rem; 
  }
}

.tanda-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  color: #3498db;
  margin-top: .2rem;
}

.dropdown {
  width: 300px;
}

.tanda-dropdown .ant-select-item-option:hover {
  background-color: #3498db;
 }

.ant-select-focused .ant-select-selector {
  border-color: #3498db !important;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important;
}

.ant-select:hover .ant-select-selector {
  border-color: #3498db !important;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important;
}

.timepicker:hover {
  border-color: #3498db !important;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important; 
}

.timepicker-panel {
  border-color: #3498db !important;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important; 

}

.ant-picker:hover {
  border-color: #3498db !important;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important; 
}

.ant-picker:focus {
  border-color: #3498db !important;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important;
}

.ant-picker-focused.ant-picker {
  border-color: #3498db !important;
}

.ant-picker input {
  height: 12px !important;
}

.ant-modal-content {
  box-shadow: none !important;
  justify-content: center !important;
}
textarea:focus {
  outline-color: #3498db;
}

.ant-picker-dropdown .ant-picker-week-panel-row-selected td.ant-picker-cell:before {
  background: #3498db;
}

.ant-picker-focused.ant-picker {
  border-color: #3498db;
  box-shadow: 0 0 0 .5px rgb(25,179,217) !important;
}

.calendar-icon {
  margin-right: -3px;
}

.border-tandaBlue {
  --tw-border-opacity: 1;
  border-color: rgb(25 179 217 / var(--tw-border-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-tandaBlue {
  --tw-bg-opacity: 1;
  background-color: rgb(25 179 217 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.text-tandaBlue {
  --tw-text-opacity: 1;
  color: rgb(25 179 217 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.hover\:bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.hover\:bg-tandaBlue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(25 179 217 / var(--tw-bg-opacity));
}

.hover\:text-tandaBlue:hover {
  --tw-text-opacity: 1;
  color: rgb(25 179 217 / var(--tw-text-opacity));
}

.focus\:border-indigo-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-indigo-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity));
}

.active\:bg-blue-700:active {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.roster-table-font {
  font-size: 0.75rem;
  text-align: center;
}

.timesheet-table {
  border-collapse:collapse;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.small-text {
  font-size: 0.75rem;
}

.username-hover:hover {
  color: #3498db; 
}

.timesheets-nav-dropdown .dropdown-menu {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.timesheets-nav-dropdown .dropdown-item {
  font-weight: bold;
}

.timesheets-nav-dropdown .dropdown-item:hover {
  color:#1e40af !important;
}

.timesheets-nav-dropdown .dropdown-item:active {
  background-color: transparent !important;
}

.custom-search .ant-btn.ant-input-search-button .anticon-search svg{
  fill: white !important;
}

.custom-search .ant-btn.ant-input-search-button {
  background-color: #3498db !important; 
  border-color: #3498db !important;
}

.ant-input:hover {
  background-color: white !important; 
  outline-color: #3498db !important;
  border-color: #3498db !important;
  box-shadow: 0 0 0 0.2px rgb(25,179,217) !important;
}

.ant-input {
  background-color: white !important;
  text-emphasis-color: black !important;
  color: black !important;
}
.ant-input:focus {
  outline-color: #3498db !important;
  border-color: #3498db !important;
  box-shadow: 0 0 0 0.2px rgb(25,179,217) !important;
}

.form-check-input:checked {
  background-color:#3498db !important;
}

.download-icon {
  fill: white !important;
  color:white !important;
}

.export-button {
  background-color: #3498db !important; 
  border-color: #3498db !important;
}

.selectAll-button:hover {
  background-color: white !important;
}

.roster-icon {
  color: #3498db !important;
}

{/*}.roster-icon:hover {
  color: #1e40af !important;
}*/}

.save-button {
  color: white;
  font-weight: bold;
  border-color: #3498db;
  background-color: #3498db;
}

.save-button:active {
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0.5px);
}

.shift-container {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 600px) {
  .shift-container {
    padding: 5px;
    font-size: 0.8em;
  }
}

@media (max-width: 800px) {
  .shift-container {
    padding: 5px;
    font-size: 0.8em;
  }
}

.shift-details {
  white-space: nowrap; 
}

.nav-tabs-container {
  display:flex;
  width: 100%;
  border-radius: 8px 8px 0 0 ;
  overflow:hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.nav-tabs {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  width: 100%;
  background-color: #fff;
}

.nav-tabs li {
  flex-grow: 1;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-bottom: 3px solid #ebebeb;
}

.nav-tabs li.pending:hover {
  color: orange;
  font-weight: bold;
}

.nav-tabs li.approved:hover {
  color: green;
  font-weight: bold;
}

.nav-tabs li.rejected:hover {
  color: red;
  font-weight: bold;
}

.nav-tabs li.emp-awards:hover,
.nav-tabs li.org-awards:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

.nav-tabs li.active.pending {
  color: orange;
  border-bottom: 3px solid orange;
  font-weight: bold;
}

.nav-tabs li.active.approved {
  color: green;
  border-bottom: 3px solid green;
  font-weight: bold;
}

.nav-tabs li.active.rejected {
  color: red;
  border-bottom: 3px solid red;
  font-weight: bold;
}

.nav-tabs li.active.emp-awards,
.nav-tabs li.active.org-awards {
  color: var(--primary-color);
  border-bottom: 3px solid var(--button-green);
  font-weight: bold;
}

.tab-pane {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px ;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.leave-requests {
  margin: 5px;
}

.custom-dropdown {
  background-color: #3498db !important;
  color: white !important;
  border-color: #3498db !important;
}

.custom-dropdown:focus {
  font-weight: bold;
}

.dropdown-menu .dropdown-item {
  color: #3498db !important; 
  background-color: white !important;
}

.compliance-custom-dropdown-height .dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.compliance-custom-dropdown-button-height {
  height: 25px;  
  line-height: 10px;
  
}

.compliance-custom-button-color {
  background-color: white !important;
  color: #3498db !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  color: white !important;
  background-color: #3498db !important;
  font-weight: bold;
}

.dropdown-datepicker-container {
  display: flex;
  margin-bottom: 20px;
}

.leave-custom-dropdown .dropdown-toggle {
  background-color: #3498db !important; 
  color: white !important;
  border-color: #3498db !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.leave-custom-dropdown .dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(52, 152, 219, 0.5); 
}

.create-button {
  background-color: #3498db !important; 
  color: white !important;
  border-color: #3498db !important;
  margin-top: 20px;
}

img.profile-pic {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  overflow: clip;
  border-radius: 50%;
  height: 5rem;
  min-height: 5rem;
  min-width: 5rem;
  width: 5rem;
}

.daysOfWeek {
  background-color: #3498db !important;
  border-color: #3498db !important;
  color: white !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 50% !important; 
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important; 
  box-shadow: none !important;
}

.daysOfWeekSelected {
  background-color: #3498db !important;
  border-color: #3498db !important;
  color: white !important;
}

.daysOfWeekUnselected {
  background-color: #f0f2f5 !important;
  border-color: #f0f2f5 !important;
  color: #536171 !important;
}

.leave-card-container {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  gap: 10px;
}

.custom-leave-card {
  max-width: 500px;
  flex: 1 0 auto;
  margin-bottom: 20px;
}

.less-column-padding .col-6 {
  padding-right: 5px;
  padding-left: 5px; 
}

.approve-button {
  background-color:#f6ffed !important;
  border-color: #6bcc43 !important;
  color: #6bcc43 !important;
}

.approve-button:active {
  background-color:#f6ffed !important;
  border-color: #6bcc43 !important;
  color: #6bcc43 !important;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0.5px);
}
.decline-button {
  background-color:#fff2f0 !important;
  border-color: #ff595b !important;
  color: #ff595b !important;
}

.decline-button:active {
  background-color:#fff2f0 !important;
  border-color: #ff595b !important;
  color: #ff595b !important;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0.5px);
}

.disabled-button {
  background-color: #f0f0f0 !important;
  border-color: #cccccc !important;
  color: #888888 !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.edit-button {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: 1px solid #3498db;
  background-color: transparent;
  color: #3498db; 
}

.edit-button:hover, .edit-button:focus {
  background-color: transparent;
  color: #3498db;
  border-color: #3498db;
  box-shadow: none;
}

.edit-button > img {
  width: 1rem;
  height: 1rem;
  border-radius: 0;
  fill: #3498db;
}

.edit-button:active {
  color: #3498db !important;
  background-color: transparent !important;
  border-color: #3498db !important; 
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(0.5px) !important;
}

.tanda-button {
  background-color: #3498db !important;
  color: white!important;
  border: none!important;
  border-radius: 0.25rem!important;
}

.tanda-button:active {
  background-color: #3498db;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0.5px);
}

input:focus {
  background-color: transparent !important; 
  border: solid !important;
  box-shadow: none !important;
}

.nav-tabs li.active.create {
  color: #3498db;
  border-bottom: 3px solid  #3498db ;
  font-weight: bold;
}

.nav-tabs li.active.view {
  color: #3498db;
  border-bottom: 3px solid  #3498db ;
  font-weight: bold;
}