@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #3b82f6;
  --secondary-color: #1e40af;
  --background-color: #f9fafb;
  --button-green: #93c732;
  --button-green-hover: #7fb329;
  --button-green-active: #6ea127;
  --accent: rgba(50, 157, 199);
  --subtle-highlight: rgba(50, 157, 199, 0.1);
}


.flex-container {
    display: flex;
}


.primary {
    /*color: rgb(30, 64, 175); */
    color: #3b82f6;
  }
  
.secondary {
    /*color: rgb(0, 0, 0); */
    color: #1e40af;
  }

.background {
    /*background-color: rgb(249, 250, 251);*/
    background-color:#f9fafb;
  }
  
.left-column-nav-EM {
    text-align: center;
  }
  
h3 {
    font-size: 1.2em;
  }

.h2-EM {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin: 10px 0; /* Add top and bottom margin */
    letter-spacing: 1px; /* Adjust letter spacing as needed */
}
  
input {
    color: rgb(30, 64, 175); /* Change to blue text color */
    border: 1px solid rgb(30, 64, 175); /* Add blue outline */
    font-size: 16px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
    margin: 2px;
    background-color: rgb(249, 250, 251); /* Background color same as container */
    border-radius: 5px; /* Rounded edges */
    transition: color 0.3s; /* Smooth color transition */
  }
  
input:focus {
    color: rgb(249, 250, 251);
    background-color: rgb(30, 64, 175);
  }
  
.EM-button {
    color: rgb(249, 250, 251); /* Text color same as container */
    background-color: rgb(30, 64, 175); /* Blue background */
    border: 1px solid rgb(30, 64, 175); /* Blue border */
    font-size: 16px; /* Adjust font size as needed */
    padding: 8px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded edges */
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
  }
  
.EM-button:hover {
    color: rgb(30, 64, 175);
    background-color: rgb(249, 250, 251);
  }
  

.navEM li {
    list-style-type: none;
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid rgb(30, 64, 175); /* Blue border when not highlighted */
    border-radius: 5px; /* Rounded edges */
    margin-bottom: 5px; /* Add spacing between list items */
    text-align: center; /* Center text horizontally */
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
    background-color: rgb(30, 64, 175); /* Blue background when not highlighted */
    color: rgb(249, 250, 251); /* White text when not highlighted */
    font-size: 16px; /* Adjust the font size */
    font-weight: bold; /* Add font-weight for bold text */
}

.navEM li:hover {
    background-color: rgb(249, 250, 251); /* White background on hover */
    color: rgb(30, 64, 175); /* Blue text on hover */
}

.left-column-nav-EM {
    width: 20%; /* Adjust the width as needed */
  }

  .nav-link {
    color: var(--primary-color);
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: var(--secondary-color);
  }


  /* FORM FIELD STYLING, APPLIED ON LOGIN FORM TO START */

.form-label {
  font-weight: bolder;
  font-size: small;
}

.text-field-component:focus {
  background-color: var(--subtle-highlight);
  color: black;
  font-weight: normal;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-group label {
  margin-bottom: 0.25rem;
}

.form-group input {
  padding: 10px;
  margin-bottom: 0.25rem;
}

.form-group input::placeholder {
  font-weight: lighter;
}

/* NAV BAR STYLING FOR HEADER */

.admin-header {
  background-color: var(--background-color)
}

.admin-header .navbar-brand {
  color: var(--primary-color);
  font-weight: bold;
}

.admin-header .nav-link:hover,
.admin-header .nav-link:active,
.admin-header .nav-link .show,
#navbarSupportedContent > div > a.nav-link.active {
  color: var(--secondary-color);
}

.admin-header .nav-link:not(.active):not(:hover) {
  color: var(--primary-color);
}

.admin-header-logo {
  height: 50px;
  padding: 10px;
}

.title-EM {
    font-size: 2.5rem; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; 
}
/* phone testing */

@media (max-width: 768px) {
  .flex-container {
      flex-direction: column; 

  }

  .left-column-nav-EM {
    width: 100%; 

  }
  .location-list {
    padding-left: 30px;
    padding-top: 5px;
  }
  .Users-list{
    padding-left: 30px;
    padding-top: 5px;
  }
  .Teams-list{
    padding-left: 30px;
    padding-top: 5px;
  }

}

@media (max-width: 576px) {
  .left-column-nav-EM {
      width: 100%; 
  }
  .title-EM {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .location-list {
    padding-left: 30px;
    padding-top: 5px;
  }
  .Users-list{
    padding-left: 30px;
    padding-top: 5px;
  }
  .Teams-list{
    padding-left: 30px;
    padding-top: 5px;
  }
  


}
  